In [3]:
#current working dictory:
import os
os.getcwd()

'C:\\Users\\hp\\Desktop\\python'

In [19]:
import pandas as pd
import numpy as np

In [8]:
#load the Excel file which has extension of .xlsx
data = pd.read_excel("c:/users/hp/Downloads/electricity-consumption-2011-2020.xlsx")

In [9]:
data.head()

     Year consumbiion category    Region  Electricity consumption (GWh)
0  2011.0          Residential   Central                        37042.0
1  2011.0          Residential   Eastern                        21311.0
2  2011.0          Residential  Southern                        12172.0
3  2011.0          Residential   Western                        39099.0
4  2011.0           Commercial   Central                        11503.0

In [13]:
#show the first 5 row using dataframe.head()method Print("the first 5 row of the dataframe")
data.head(7)

     Year consumbiion category    Region  Electricity consumption (GWh)
0  2011.0          Residential   Central                        37042.0
1  2011.0          Residential   Eastern                        21311.0
2  2011.0          Residential  Southern                        12172.0
3  2011.0          Residential   Western                        39099.0
4  2011.0           Commercial   Central                        11503.0
5  2011.0           Commercial   Eastern                         6767.0
6  2011.0           Commercial  Southern                         2711.0

In [15]:
#Print("the last 10 row of the dataframe\n")
data.tail(20)

,Year,consumbiion category,Region,Electricity consumption (GWh)
184,2020.0,Commercial,Central,15461.0
185,2020.0,Commercial,Eastern,8282.0
186,2020.0,Commercial,Southern,4174.0
187,2020.0,Commercial,Western,13153.0
188,2020.0,Government,Central,13406.0
189,2020.0,Government,Eastern,6684.0
190,2020.0,Government,Southern,5694.0
191,2020.0,Government,Western,10405.0
192,2020.0,Industrial,Central,6934.0
193,2020.0,Industrial,Eastern,36397.0
194,2020.0,Industrial,Southern,1186.0
195,2020.0,Industrial,Western,13360.0
196,2020.0,Others,Central,4231.0
197,2020.0,Others,Eastern,4606.0
198,2020.0,Others,Southern,1175.0
199,2020.0,Others,Western,6526.0
200,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN
202,NaN,Source: WERA,NaN,NaN
203,NaN,Note: Electricity consumption is based on elec...,NaN,NaN

In [16]:
headers = ["Year","consumbiion category","Region","Electricity consumption (GWh)"]
print("headers\n", headers)

headers
 ['Year', 'consumbiion category', 'Region', 'Electricity consumption (GWh)']

In [17]:
data.columns = headers
data.head(15)

      Year consumbiion category    Region  Electricity consumption (GWh)
0   2011.0          Residential   Central                        37042.0
1   2011.0          Residential   Eastern                        21311.0
2   2011.0          Residential  Southern                        12172.0
3   2011.0          Residential   Western                        39099.0
4   2011.0           Commercial   Central                        11503.0
5   2011.0           Commercial   Eastern                         6767.0
6   2011.0           Commercial  Southern                         2711.0
7   2011.0           Commercial   Western                        12138.0
8   2011.0           Government   Central                         8759.0
9   2011.0           Government   Eastern                         6844.0
10  2011.0           Government  Southern                         2269.0
11  2011.0           Government   Western                         6269.0
12  2011.0           Industrial   Central                         4853.0
13  2011.0           Industrial   Eastern                        32408.0
14  2011.0           Industrial  Southern                          167.0

In [23]:
#data1=data.replace('?',np.NoN)

In [25]:
#data=data1.dropna(subset=["age"], axis=0)
data.head(20)

      Year consumbiion category    Region  Electricity consumption (GWh)
0   2011.0          Residential   Central                        37042.0
1   2011.0          Residential   Eastern                        21311.0
2   2011.0          Residential  Southern                        12172.0
3   2011.0          Residential   Western                        39099.0
4   2011.0           Commercial   Central                        11503.0
5   2011.0           Commercial   Eastern                         6767.0
6   2011.0           Commercial  Southern                         2711.0
7   2011.0           Commercial   Western                        12138.0
8   2011.0           Government   Central                         8759.0
9   2011.0           Government   Eastern                         6844.0
10  2011.0           Government  Southern                         2269.0
11  2011.0           Government   Western                         6269.0
12  2011.0           Industrial   Central                         4853.0
13  2011.0           Industrial   Eastern                        32408.0
14  2011.0           Industrial  Southern                          167.0
15  2011.0           Industrial   Western                         9298.0
16  2011.0               Others   Central                         5506.0
17  2011.0               Others   Eastern                         1895.0
18  2011.0               Others  Southern                          923.0
19  2011.0               Others   Western                         3577.0

In [26]:
print(data.columns)

Index(['Year', 'consumbiion category', 'Region',
       'Electricity consumption (GWh)'],
      dtype='object')

In [27]:
#describe all the columns in "data"
data.describe(include = "all")

,Year,consumbiion category,Region,Electricity consumption (GWh)
count,200.000000,202,200,200.000000
unique,NaN,7,4,NaN
top,NaN,Residential,Central,NaN
freq,NaN,40,50,NaN
mean,2015.500000,NaN,NaN,13899.995000
std,2.879489,NaN,NaN,13453.303656
min,2011.000000,NaN,NaN,167.000000
25%,2013.000000,NaN,NaN,4315.250000
50%,2015.500000,NaN,NaN,8983.500000
75%,2018.000000,NaN,NaN,16688.000000
max,2020.000000,NaN,NaN,52016.000000