In [1]:
#current working directory
import os
os.getcwd()

'/Users/shouqmohammed/Downloads/task 2'

In [2]:
import pandas as pd

In [3]:
#load the Excel file which has extension of .xlsx
data = pd.read_excel("number-of-smes-2022-q1.xlsx")

In [4]:
data.head()

,السنة,الربع,المنطقة,النشاط الاقتصادي,عدد المنشآت متناهية الصغر,عدد المنشآت الصغيرة,عدد المنشآت المتوسطة,عدد المنشآت الكبيرة,عدد المنشآت
0,2022,1,مكتب المنطقة الشرقية,أبحاث الإعلان والسوق,124,30,1,0,155
1,2022,1,مكتب المنطقة الشرقية,إصلاح أجهزة الحاسوب والسلع الشخصية والمنزلية,302,74,9,1,386
2,2022,1,مكتب المنطقة الشرقية,إصلاح وتركيب الآلات والمعدات,201,72,6,1,280
3,2022,1,مكتب المنطقة الشرقية,أنشطة أنتاج الأفلام والبرامج التلفزيونية والتس...,30,4,0,0,34
4,2022,1,مكتب المنطقة الشرقية,أنشطة الأمن والتحقيقات,22,17,11,4,54

In [5]:
data.tail()

,السنة,الربع,المنطقة,النشاط الاقتصادي,عدد المنشآت متناهية الصغر,عدد المنشآت الصغيرة,عدد المنشآت المتوسطة,عدد المنشآت الكبيرة,عدد المنشآت
5308,2022,1,مكتب منطقة نجران,صنع منتجات المطاط واللدائن,21,2,0,0,23
5309,2022,1,مكتب منطقة نجران,صنع منتجات المعادن اللافلزية الأخرى,66,31,9,1,107
5310,2022,1,مكتب منطقة نجران,صنع منتجات المعادن المشكلة ( باستثناء الآلات و...,175,14,4,0,193
5311,2022,1,مكتب منطقة نجران,صيد الأسماك وتربية المائيات,135,1,0,0,136
5312,2022,1,مكتب منطقة نجران,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,6,2,0,0,8